.info {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  background-color: #800000;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.wrapper {
  position: relative;
}
