.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .container {
    height: 100%;
    width: 100%;
    flex: 1;
    position: relative;
    .inner {
      overflow-x: scroll;
      position: relative;
      scroll-snap-type: x mandatory;
      height: 100%;
      .scrollWrapper {
        height: 100%;
        position: absolute;
        .scrollContainer {
          height: 100%;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
